@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 20px;
  color: rgb(94, 94, 94);
  margin-top: 20px;
}

a {
  font-size: 17px;
}

.top_section {
  width: 100%;
  height: auto;
  position: relative;
}

.top_section .top_container {
  width: 100%;
  height: 50px;
  background-color: rgb(17 16 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_container .top_header {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 0px 30px;
}

.top_container .icon_1 img {
  width: 40px;
  height: auto;
  transform: rotateY(180deg);
}

.top_container .icon_2 img {
  width: 40px;
  height: auto;
}

.top_section .middle_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.top_section .middle_container .social_media_icon {
  display: flex;
  gap: 10px;
}

.social_media_icon .set_icon img {
  width: 30px;
  height: auto;
}

.middle_container .main_logo {
  width: 200px;
  height: auto;
}

.top_section .middle_container .main_logo img {
  width: 100%;
  height: auto;
}

.top_section .middle_container .phone_icon {
  display: flex;
  gap: 10px;
}

.phone_icon .fa-brands {
  font-size: 38px;
  color: #25d366;
}

.phone_icon .set_icon {
  padding: 10px;
  background: rgb(17 16 69);
}

.phone_icon .set_icon a {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  word-spacing: 2px;
}

.phone_icon .set_icon a .fa {
  font-size: 16px;
}

.shoping_icon .set_icon img {
  width: 30px;
  height: auto;
}

.bottom_container ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.bottom_container ul li {
  list-style: none;
}

.bottom_container ul li a {
  color: #000;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0px 30px;
}

#menu-btn {
  display: none;
}

/* introduction section container */
.intro_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.intro_container .intro_container_row {
  display: flex;
  justify-content: space-between;
}

.intro_container_row .landing_bg {
  width: 100%;
  height: auto;
}

.intro_container_row .landing_bg img {
  width: 100%;
  height: auto;
}

.intro_container_row .right_content {
  width: 100%;
  height: auto;
  text-align: center;
}

.right_content .right_content_title {
  color: rgb(21 21 21);
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.right_content .right_content_subtitle {
  font-size: 20px;
  color: rgb(94, 94, 94);
  padding: 20px;
}

.right_content button {
  width: 150px;
  height: 56px;
  background: rgb(17 16 69);
  color: #c6c6c6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
  border: none;
}

.dropdown_container {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.footer_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_cols {
  width: 33%;
}

.Drop_closer {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 9%;
  right: 30%;
  cursor: pointer;
}

.quote_form {
  width: 500px;
  height: auto;
  background: #5d56c5;
  position: absolute;
  padding: 20px;
}

.quote_form button {
  background: rgb(17 16 69);
  height: 56px;
  width: 150px;
  text-align: center;
  color: #c6c6c6;
  margin-top: 10px;
  border: 1px solid #fff;
}

.dropdown_container .quote_form .title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
}

.dropdown_container .quote_form .subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
}

.dropdown_container .quote_form .form {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.dropdown_container .quote_form .form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}

.dropdown_container .quote_form .form textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

/* about_1 section container */
.about_1_container {
  width: 100%;
  height: auto;
  padding: 30px;
  position: relative;
}

.about_1_container .about_1_header {
  font-size: 24px;
  font-weight: 700;
  color: rgb(27, 27, 27);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}

.about_1_container .about_1_container_row {
  display: flex;
  justify-content: space-between;
}

.about_1_container .about_1_container_row .box {
  width: 338px;
  height: auto;
  background-color: rgb(243, 243, 243);
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about_1_container_row .box .box_bg img {
  width: 338px;
  height: auto;
}

.about_1_container_row .box .content {
  padding: 20px;
  background: rgb(17 16 69);
}

.box .content .title {
  color: #fff;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.box .content .subtitle {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 26px;
}

.box .content button {
  width: 150px;
  height: 46px;
  background: rgb(17 16 69);
  color: #c6c6c6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  border: 2px solid #fff;
}

.about_1_container .about_1_container_row .box_1 {
  width: 338px;
  height: auto;
  background-color: rgb(243, 243, 243);
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about_1_container_row .box_1 .box_bg img {
  width: 310px;
  height: auto;
  border-radius: 50%;
  margin: 15px;
}

.about_1_container_row .box_1 .content {
  padding: 20px;
  background: blue;
}

.box_1 .content .title {
  color: #000;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.box_1 .content .subtitle {
  color: #000;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

.box_1 .content button {
  width: 150px;
  height: 46px;
  background: rgb(17 16 69);
  color: #c6c6c6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
  border: 2px solid #fff;
}

/* about_2 section container */
.about_2_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.about_2_container .about_2_header {
  font-size: 24px;
  font-weight: 700;
  color: rgb(27, 27, 27);
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about_2_container .about_2_container_row {
  display: flex;
  justify-content: space-between;
}

.about_2_container .about_2_container_row .box {
  width: 532px;
  height: auto;
  background-color: rgb(243, 243, 243);
}

.about_2_container_row .box .box_bg img {
  width: 532px;
  height: auto;
}

.about_2_container_row .box .content {
  padding: 20px;
}

.about_2_container_row .box .content .title {
  color: #333;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_2_container_row .box .content .subtitle {
  color: #333;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 26px;
}

.about_2_container_row .box .content button {
  width: 240px;
  height: 56px;
  background: rgb(17 16 69);
  color: rgb(198, 198, 198);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  border: none;
}

/* about_3 section container */
.about_3_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.about_3_container .about_3_header {
  font-size: 24px;
  font-weight: 700;
  color: rgb(27, 27, 27);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}

.about_3_container .about_3_container_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about_3_container .about_3_container_row .box {
  width: 338px;
  height: auto;
  background-color: rgb(243, 243, 243);
  text-align: center;
}

.about_3_container_row .box .box_bg img {
  width: 338px;
  height: auto;
}

.about_3_container_row .box .content {
  padding: 20px;
}

.about_3_container_row .box .content .title {
  color: #333;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_3_container_row .box .content .subtitle {
  color: #333;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 26px;
}

.about_3_container .about_3_container_row .box_1 {
  width: 532px;
  height: auto;
  background-color: rgb(243, 243, 243);
}

.about_3_container_row .box_1 .box_bg img {
  width: 532px;
  height: auto;
}

.about_3_container_row .box_1 .content {
  padding: 20px;
}

.about_3_container_row .box_1 .content button {
  width: 240px;
  height: 56px;
  background: rgb(17 16 69);
  border: none;
  color: rgb(198, 198, 198);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
}

/* about_4 section container */
.about_4_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.about_4_container .about_4_header {
  font-size: 24px;
  font-weight: 700;
  color: rgb(27, 27, 27);
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about_4_container .about_4_container_row {
  display: grid;
  grid-template-columns: auto auto auto;
}

.about_4_container .about_4_container_row .box {
  width: 338px;
  height: auto;
  background-color: rgb(243, 243, 243);
  text-align: center;
  margin-bottom: 40px;
}

.about_4_container_row .box .box_bg img {
  width: 338px;
  height: auto;
}

.about_4_container_row .box .content {
  padding: 20px;
}

.about_4_container_row .box .content .title {
  color: #333;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_4_container_row .box .content .subtitle {
  color: #333;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 26px;
}

.about_4_container_row .box .content button {
  width: 170px;
  height: 56px;
  background: rgb(17 16 69);
  border: none;
  color: rgb(198, 198, 198);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
}

/* about_5 section container */
.about_5_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.about_5_container .about_5_container_row {
  background-color: rgb(243, 243, 243);
  height: auto;
}

.about_5_container .about_5_container_row .box_bg img {
  width: 100%;
  height: auto;
}

.about_5_container .about_5_container_row .content {
  padding: 20px;
}

.about_5_container_row .content .title {
  color: #000;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_5_container_row .content .subtitle {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

/* about_6 section container */
.about_6_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.about_6_container .about_6_container_row {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about_6_container_row .contact_form {
  width: 100%;
  height: auto;
}

.about_6_container_row .contact_form .title {
  color: #000;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_6_container_row .contact_form .subtitle {
  color: rgb(27, 27, 27);
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 20px;
}

.about_6_container_row .contact_form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_form .form input {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  outline: none;
  padding: 10px;
  color: rgb(94, 94, 94);
}

.contact_form .form input::placeholder {
  color: rgb(94, 94, 94);
  font-size: 14px;
}

.contact_form .form textarea {
  width: 100%;
  height: 132px;
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
  border-radius: 5px;
}

.contact_form .form textarea::placeholder {
  color: rgb(94, 94, 94);
  font-size: 14px;
}

.contact_form .form .check {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact_form .form .check input {
  width: auto;
  height: auto;
}

.contact_form .form button {
  width: 100%;
  height: 56px;
  background: rgb(17 16 69);
  color: rgb(226, 226, 226);
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 5px 5px rgb(226, 226, 226);
  margin-bottom: 20px;
}

.about_6_container_row .contact_detail {
  width: 100%;
  height: auto;
}

.contact_detail .title {
  color: #000;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact_detail .subtitle {
  color: rgb(94, 94, 94);
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 20px;
}

.contact_detail .mail a {
  font-size: 16px;
  text-decoration: none;
}

.contact_detail button {
  width: 300px;
  height: 56px;
  background-color: rgb(69, 90, 100);
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0px;
}

.about_6_container .social_link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.about_6_container .mail_id {
  text-align: center;
  margin-top: 20px;
}

.about_6_container .copyrght {
  text-align: center;
  margin-top: 20px;
}


.fixed_icon {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 60%;
}

.fixed_icon_bg {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17 16 69);
  margin-bottom: 5px;
}

.fixed_icon_bg img {
  width: 50px;
  height: auto;
}


.fixed_icon_bg .fa {
  color: #fff;
  font-size: 30px;
}

/*<<----about page----->>*/
.about_page_section {
  width: 100%;
  height: 100vh;
  background: url(https://mitthumiyan.com/images/about_page_section.webp);
  background-size: cover;
  background-attachment: fixed;
}

.about_page_section .filter_bg {
  background: black;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter_bg .container_header h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 0% 25%;
  line-height: 56px;
}

.location-linking h4 {
  text-align: center;
  font-size: 28px;
  text-transform: capitalize;
}

.location-linking ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.location-linking ul li {
  list-style: none;
  width: 24%;
  height: auto;
}

.location-linking ul li a {
  color: #333;
  transition: all 1s;
  text-decoration: none;
}

.name {
  font-size: 20px;
  color: rgb(94, 94, 94);
  margin-top: 20px;
}

.location-linking ul li a:hover {
  color: #428bca;
  margin-left: 10px;
}


/*<<----gallery page*/
/*gallery box section*/
.gallery_box {
  width: 100%;
  height: auto;
  padding: 30px;
}

.gallery_box .gallery_box_box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery_box_box .box .set_bg img {
  width: 350px;
  height: 250px;
}

.accordion {
  color: #ff332a;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-top: 10px;
}

.panel p {
  color: #428bca;
  font-size: 16px;
}

.about_6_container_row .contact_form .title {
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*<<----contact us page*/
.contact_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.contact_container .contact_header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  text-transform: capitalize;
}

.contact_container_row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact_container_row .box {
  width: 300px;
  height: auto;
  background: #ddd;
  text-align: center;
  padding: 40px;
}

.contact_container_row .box .fa {
  font-size: 50px;
  margin-bottom: 20px;
}

.box .name {
  font-size: 18px;
  margin-bottom: 10px;
}

.box .id_name {
  font-size: 18px;
  margin-bottom: 20px;
}

.box .id_name a {
  color: #428bca;
}

.social_link {
  display: flex;
  padding: 10px 0px;
}

.vedio_row {
  display: flex;
}

/*Get In Touch container section*/
.detail_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.detail_container .detail_container_row {
  display: flex;
  justify-content: space-between;
}

.detail_container_row .left_detail_container_site {
  width: 40%;
  height: auto;
  padding: 20px;
  background: url(https://mitthumiyan.com/images/pattern-bg-2.webp);
  background-color: rgb(17 16 69);
}

.left_detail_container_site .texes .texes_header {
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
}

.texes .underline {
  width: 50px;
  height: 4px;
  background: #fff;
  margin-bottom: 20px;
}

.texes .text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.texes .social_media {
  color: #fff;
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.texes .text .fa {
  background: #fff;
  color: rgb(17 16 69);
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.detail_container_row .right_detail_container_site {
  width: 55%;
  height: auto;
  padding: 20px;
  border: 2px solid #ddd;
}

.right_detail_container_site .form {
  padding: 10px;
  text-align: center;
}
/* 
.right_detail_container_site .form .detail_field {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
} */

.form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
  outline: none;
  margin-top: 15px;
}

.form textarea {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
  outline: none;
  padding: 10px;
  margin-top: 15px;
}

.form button {
  width: 20%;
  height: 50px;
  font-size: 20px;
  background: rgb(17 16 69);
  border: none;
  text-transform: capitalize;
  color: #fff;
  margin-top: 15px;
}


/*footer bottom section*/
.footer_container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.footer_container .footer_container_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_container_row .bottom_footer_detail {
  width: 50%;
  height: auto;
  padding: 30px;
  background: #ddd;
}

.bottom_footer_detail .content {
  padding: 10px;
  height: auto;
  background: rgb(17 16 69);
}

.bottom_footer_detail .content .header {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bottom_footer_detail .content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}